<p>There is no interface yet, so I use <a href="https://github.com/martanne/dvtm">dvtm</a> to have stream.py and tweet.py displayed at the same time.<br\>
This client depend on <a href="https://gitlab.com/lanodan/StatusAPI">StatusAPI</a>(Twitter, and GnuSocial API) or <a href="https://github.com/geduldig/TwitterAPI">TwitterAPI</a>(only Twitter API ☺)

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">StatusClient</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://gitlab.com/lanodan" property="cc:attributionName" rel="cc:attributionURL">lanodan</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

<h2>cli.py</h2>
<p>Commands:</p>

<li>Delete /&lt;del|delete|destroy&gt; &lt;id&gt;</li>
<li>Favorite & Retweet: /&lt;frt|favrt&gt; &lt;id&gt;</li>
<li>Favorite: /&lt;f|fav|favorite&gt; &lt;id&gt;</li>
<li>NSFW: /nsfw &lt;status&gt;</li>
<li>Reply: /&lt;re|reply&gt; &lt;id&gt; &lt;status&gt;</li>
<li>Retweet: /&lt;rt|retweet&gt; &lt;id&gt;</li>
<li>Upload(image): /upload &lt;file_path&gt; &lt;status&gt;</li>
<li>NSFW Upload: /&lt;nsfw_upload|upload_nsfw&gt; &lt;file_path&gt; &lt;status&gt;</li>
<li>Reply Upload: /&lt;re_up|re_upload&gt; &lt;id&gt; &lt;file_path&gt; &lt;status&gt;</li>
<li>Follow: /follow &lt;screen_name|user_id&gt;</li>
<li>Unfollow: /unfollow &lt;screen_name|user_id&gt;</li>

<p>To tweet just put it without any command.<br\>
Protip: To send a direct message prepend MS @&lt;name&gt; or M$ @&lt;name&gt;. Lazy dev is lazy.</p>
